<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Music Web</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
</head>
<body class="principal">
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Music Web", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("Album", "Index", "Albums")</li>
                    <li>@Html.ActionLink("Artista", "Index", "Artistas")</li>
                    <li>@Html.ActionLink("Gênero", "Index", "Generos")</li>



                </ul>
            </div>
        </div>
    </div>

    <div class="container body-content" style="background-color:rgba(61, 61, 61, 0.88);">
        @RenderBody()
        <hr />

        

        <footer>
            <p style="color:#fff; text-align:center;">&oplus;   Melhor da música você só encontra aqui!!  -   @DateTime.Now</p>
        </footer>



    </div>
    

    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
</body>
</html>