
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Music Web</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
</head>
<body class="principal">
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Music Web", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">

                    @if (Session["Email"] != null)
                    {
                        if (Session["Email"].Equals("odirlei@gmail.com"))
                        {

                            <li>@Html.ActionLink("Albuns", "Index", "Albums")</li>
                            <li>@Html.ActionLink("Artistas", "Index", "Artistas")</li>
                            <li>@Html.ActionLink("Generos", "Index", "Generos")</li>
                            <li>@Html.ActionLink("Usuarios", "Index", "Usuarios")</li>
                            <li style="color:#0253e5; margin-top:15px; margin-left:450px;"> Usuário : @Session["Email"].ToString()</li>
                            <li>@Html.ActionLink("Logout", "Login", "Home")</li>

                        }
                        else
                        {
                            <li> @Html.ActionLink("Home", "Home", "Loja") </li>
                            <li> @Html.ActionLink("Loja", "Index", "Loja") </li>
                            <li> @Html.ActionLink("Carrinho", "CarrinhoDetails", "Loja") </li>
                            <li> @Html.ActionLink("Histórico", "Historico", "Loja") </li>
                        }

                    }
                </ul>

                <ul class="nav navbar-nav" style=" color:rgba(0, 255, 144, 0.30); float:right; color:rgba(0, 255, 144, 0.80);">
                    @if (Session["Email"] != null)
                    {
                        if (!Session["Email"].Equals("odirlei@gmail.com"))
                        {
                            <li style="float:left; margin-right:10px; margin-top:15px;"> Usuário : @Session["Email"].ToString()</li>

                            <li>@Html.ActionLink("Logout", "Logout", "Loja", new { id = 1 })</li>
                        }

                    }

                </ul>
            </div>
        </div>
    </div>

    <div class="container body-content" style="background-color:rgba(216, 216, 216, 0.40); text-align:left;">
        @RenderBody()
        <hr />

    </div>



    <footer style="margin-top:50px;font-size:16px;" class="well">
        <p style="color:#000; text-align:center;">&oplus;   Melhor da música você só encontra aqui!!  -   @DateTime.Now</p>
    </footer>


    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
</body>
</html>