@model IEnumerable<MusicWeb.Models.Genero>

@{
    ViewBag.Title = "Index";
}
<link href="~/Content/Estilo/forms.css" rel="stylesheet" />
<h3 class="breadcrumb" style="background-color:#5cb85c; color:rgba(0, 0, 0, 0.80);">Gêneros Musicais</h3>





<div class="container" style="display:inline-flex;">

    @foreach (var g in Model)
    {

        switch (g.Nome)
        {
            case "Rock":

                <div class="container">
                    <img src="~/Content/img/rock1.jpg" width="160"  height="110"style="border-radius:4px;" />
                    <br />
                    <br />

                    <a href='@Url.Action("Index", "Generos/Create")' class="btn"
                       style=" font-size:16px;border-radius:4px;
                        background-color:rgba(0, 0, 0, 0.70); color:#5cb85c; width:160px; margin-bottom:10px;">@g.Nome</a>
                        <br />

                    </div>

                    break;

                case "Samba":

                    <div class="container">
                        <img src="~/Content/img/samba.jpg" width="160"  height="110"style="border-radius:4px;" />
                        <br />
                        <br />

                        <a href='@Url.Action("Index", "Generos/Create")' class="btn"
                           style=" font-size:16px;border-radius:4px;
                        background-color:rgba(0, 0, 0, 0.70); color:#5cb85c; width:160px; margin-bottom:10px;">@g.Nome</a>
                        <br />

                    </div>

                    break;

                case "Reggae":

                    <div class="container" >
                        <img src="~/Content/img/reggae.jpg" width="160" height="110" style="border-radius:4px;" />
                        <br />
                        <br />

                        <a href='@Url.Action("Index", "Generos/Create")' class="btn"
                           style=" font-size:16px;border-radius:4px;
                        background-color:rgba(0, 0, 0, 0.70); color:#5cb85c; width:160px; margin-bottom:10px;">@g.Nome</a>
                        <br />

                    </div>

                    break;

                case "Sertanejo":

                    <div class="container">
                        <img src="~/Content/img/sertanejo.jpg" width="160"  height="110" style="border-radius:4px;" />
                        <br />
                        <br />

                        <a href='@Url.Action("Index", "Generos/Create")' class="btn"
                           style=" font-size:16px;border-radius:4px;
                        background-color:rgba(0, 0, 0, 0.70); color:#5cb85c; width:160px; margin-bottom:10px;">@g.Nome</a>
                        <br />

                    </div>

                    break;
            }
        }


</div>




<div style="margin-bottom:20px; border-radius:100px; visibility:hidden;">

    <a href='@Url.Action("Index", "Generos/Create")' class="btn"
       style=" font-size:16px; border-radius:100px; background-color:rgba(0, 0, 0, 0.70); color:#5cb85c;">+</a>


</div>

