@model IEnumerable<MusicWeb.Models.Genero>

@{
    ViewBag.Title = "Index";
}

<h3 class="breadcrumb" style="background-color:#5cb85c; color:rgba(0, 0, 0, 0.66);">Gêneros Musicais</h3>

<div style="margin-bottom:20px; border-radius:100px;">

    <a href='@Url.Action("Index", "Generos/Create")' class="btn" 
       style=" font-size:16px; border-radius:100px; background-color:rgba(0, 0, 0, 0.70); color:#5cb85c;"> + </a>


</div>




<table class="table" style="color:#14D74E;">
    

@foreach (var item in Model) {
    <tr>
        <td style="color:#ffffff; font-size:16px;">
            @Html.DisplayFor(modelItem => item.Nome)
        </td>
        <td style="color:#ffffff; ">
            @Html.ActionLink("Editar", "Edit", new { id=item.GeneroId }) |
            @Html.ActionLink("Detalhes", "Details", new { id=item.GeneroId }) |
            @Html.ActionLink("Excluir", "Delete", new { id=item.GeneroId })
        </td>
    </tr>
}

</table>
